@model AuctionHouse.Models.Item

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller.SellerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.SellerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("CheckBids", "BidDetails", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
