@model IEnumerable<AuctionHouse.Models.Bid>

@{
    ViewBag.Title = "Home Index";
}

<div class="jumbotron jumbotron-fluid" id="jumpic">
    <div class="container-fluid">
        <h1>Anthony's Online Auction House</h1>
        <p>
            Where you can find the most worthless stuff
            on the planet.
        </p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="col-md-3">
            <div class="card-group">
                <div class="card-body">
                    <h3 class="card-title">Sellers</h3>
                    <p>
                        If you have stuff laying around the house that you really don't
                        want anymore, here is a site to get rid of it and make some money.
                        All you have to do is fill out a simple form to get started and
                        let the bidding begin. Click the link to get started.
                    </p>
                    <a href="/Home/CheckName" class="card-link">Seller's Form</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card-body">
                    <h3 class="card-title">Buyers</h3>
                    <p>
                        Sometimes the items we have are not enough and we need to look for
                        stuff that we don't need. Sometimes there is that little special
                        something that catches our eye and have a use for that item. If you
                        are in the market for a gadget to buy, you've come to the right place.
                        Click the link to get started.
                    </p>
                    <a href="/Home/CheckBuyer" class="card-link">Buyer Registration</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card-body">
                    <h3 class="card-title">Items</h3>
                    <p>
                        You can look through the list of items that are up for bid and the
                        items that have been sold. Items are posted to the site and will be
                        available for sale until the item is sold or the seller decides not
                        to continue with the sale of the item.
                    </p>
                    <a href="/Items/Index" class="card-link">List of Items for Sale</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card-body">
                    <h3 class="card-title">Bids</h3>
                    <p>
                        Take a look at the current and past bids. If you do find that special
                        item, go ahead and place a bid on it but don't forget to register first.
                        Please use the Buyer's Registration link to sign up and begin your bidding.
                    </p>
                    <a href="/Home/CheckBuyer" class="card-link">Bid on an item</a>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <h3>Here are the top 10 bids:</h3>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                <div class="col-md-10">
                    <table class="table">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Item.ItemID)</th>
                            <th>@Html.DisplayNameFor(model => model.Item.ItemName)</th>
                            <th>@Html.DisplayNameFor(model => model.Buyer.BuyerFullName)</th>
                            <th>@Html.DisplayNameFor(model => model.BidAmount)</th>
                            <th>@Html.DisplayNameFor(model => model.BidTimeStamp)</th>
                        </tr>
                        @foreach (var b in Model)
                        {
                            <tr>
                                <th>@Html.DisplayFor(item => b.Item.ItemID)</th>
                                <th>@Html.ActionLink(b.Item.ItemName, "Details", "Items", new { id = b.Item.ItemID }, null)</th>
                                <th>@Html.DisplayFor(bidder => b.Buyer.BuyerFullName)</th>
                                <th>@Html.DisplayFor(bid => b.BidAmount)</th>
                                <td>
                                    @if(b.BidTimeStamp.Date == DateTime.Today)
                                    {
                                        @(string.Format("{0:T}", b.BidTimeStamp))
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(time => b.BidTimeStamp)
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
