@model AuctionHouse.Models.Seller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SellerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerEmailAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
