@model IEnumerable<AuctionHouse.Models.Seller>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellerFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerEmailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellerFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerEmailAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SellerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SellerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SellerID })
        </td>
    </tr>
}

</table>
