@model WWImporters.Models.ViewModels.GroupInfoView

@{
    ViewBag.Title = "PersonInfo";
}

<h2>Client/Employee Info</h2>
<div class="container-fluid" id="personlist">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item-heading">@Html.DisplayName("Person ID:")</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.PersonID)</li>
            <li class="list-group-item-heading">@Html.DisplayName("Full Name:")</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.FullName)</li>
            <li class="list-group-item-heading">@Html.DisplayName("Preferred Name:")</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.PreferredName)</li>
            <li class="list-group-item-heading">@Html.DisplayName("Phone Number:")</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.PhoneNumber)</li>
            <li class="list-group-item-heading">@Html.DisplayName("Fax Number:")</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.FaxNumber)</li>
            <li class="list-group-item-heading">@Html.DisplayName("Email Address:")</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.EmailAddress, new { Type = "button" })</li>
            <li class="list-group-item-heading">@Html.DisplayName("Valid From:")</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.ValidFrom)</li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="col-md-5">
            <img src="~/Content/Images/No-Photo-Availabel.jpg" />
        </div>
    </div>
</div>
@if (ViewBag.SetFlag == true)
{
    <h2>Company</h2>
    <div class="container-fluid">
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item-heading">@Html.DisplayName("Company Name:")</li>
                <li class="list-group-item">@Html.DisplayFor(c => c.ThisCustomer.CustomerName)</li>
                <li class="list-group-item-heading">@Html.DisplayName("Phone Number:")</li>
                <li class="list-group-item">@Html.DisplayFor(c => c.ThisCustomer.PhoneNumber)</li>
                <li class="list-group-item-heading">@Html.DisplayName("Fax Number:")</li>
                <li class="list-group-item">@Html.DisplayFor(c => c.ThisCustomer.FaxNumber)</li>
                <li class="list-group-item-heading">@Html.DisplayName("Website:")</li>
                <li class="list-group-item">@Html.DisplayFor(c => c.ThisCustomer.WebsiteURL)</li>
                <li class="list-group-item-heading">@Html.DisplayName("Customer as of:")</li>
                <li class="list-group-item">@Html.DisplayFor(c => c.ThisCustomer.ValidFrom)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h2>Purchases</h2>
        <div class="container-fluid">
            <div class="col-md-5">
                <dl>
                    <dt>@Html.DisplayName("Orders:")</dt>
                    <dd>@Html.DisplayFor(m => m.ThisCustomer.Orders.Count)</dd>
                    <dt>@Html.DisplayName("Gross Sales:")</dt>
                    <dd>@string.Format("{0:c}", ViewBag.Sales)</dd>
                    <dt>@Html.DisplayName("Gross Profit:")</dt>
                    <dd>@string.Format("{0:c}", ViewBag.Profit)</dd>
                </dl>
            </div>
        </div>
        <h2>Purchased Items</h2>
        <div class="container-fluid">
            <div class="col-md-7">
                <table>
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Stock Item \t")</th>
                            <th>@Html.DisplayName("Description \t")</th>
                            <th>@Html.DisplayName("Profit \t")</th>
                            <th>@Html.DisplayName("Sales Person \t")</th>
                        </tr>
                    </thead>
                    @foreach(var p in Model.ThisInvoice)
                    {
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(item => p.StockItemID)</td>
                                <td>@Html.DisplayFor(item => p.Description)</td>
                                <td>@Html.DisplayFor(item => p.LineProfit)</td>
                                <td>@Html.DisplayFor(item => p.Invoice.Person4.FullName)</td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
}



