@model WWImporters.Models.ViewModels.GroupInfoView

@{
    ViewBag.Title = "PersonInfo";
}

<h2>Client/Employee Info</h2>
<div class="container-fluid">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ThisPerson.PersonID)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.PersonID)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ThisPerson.FullName)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.FullName)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ThisPerson.PreferredName)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.PreferredName)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ThisPerson.PhoneNumber)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.PhoneNumber)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ThisPerson.FaxNumber)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.FaxNumber)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ThisPerson.EmailAddress)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.EmailAddress)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ThisPerson.ValidFrom)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ThisPerson.ValidFrom)</li>
        </ul>
    </div>
</div>

