@model WWImporters.Models.ViewModels.PersonInfoView

@{
    ViewBag.Title = "PersonInfo";
}

<h2>Client/Employee Info</h2>
<div class="container-fluid">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">@Html.DisplayNameFor(p => p.PersonID)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.PersonID)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.FullName)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.FullName)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.PreferredName)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.PreferredName)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.PhoneNumber)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.PhoneNumber)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.FaxNumber)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.FaxNumber)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.EmailAddress)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.EmailAddress)</li>
            <li class="list-group-item">@Html.DisplayNameFor(p => p.ValidFrom)</li>
            <li class="list-group-item">@Html.DisplayFor(p => p.ValidFrom)</li>
        </ul>
    </div>
</div>

